#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*  vite */

.read-the-docs {
  color: #888;
}
/*Title */
.Title {
  font-size-adjust: calc();
}
/*  CHAT UI  */

.chat-window {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 420px;
  max-width: 95vw;
  background: #020617;
  border: 3px solid #1f2937;
  border-radius: 15px;
}



/* Container scroll */
.message-list {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background: #244da4;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 14px 14px 0 0;
}

.message-row {
  display: flex;
}

.message-row-other {
  justify-content: flex-start;
}

.message-row-me {
  justify-content: flex-end;
}

/* Burbuja */
.message-bubble {
  background: #111827;
  padding: 0.5rem 0.75rem;
  border-radius: 12px;
  margin-bottom: 0.75rem;
  max-width: 80%;
  border: 2px solid #00f0ff;
}

/*HOVER FOR BUBBLE */
.message-bubble:hover {
  background: #1c4355;
  transition: backgroung 0.2s ease;
}

.message-bubble-me {
  background: #1d4ed8;
  border-color: #60a5fa;
}


/* Username + timestamp */
.message-header {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  color: #9ca3af;
  margin-bottom: 0.25rem;
}

.message-username {
  font-weight: 600;
}

.message-time {
  font-size: 0.7rem;
  opacity: 0.8;
}

.message-text {
  font-size: 0.9rem;
}

/* Input UI */
.message-input {
  display: flex;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  border-top: 1px solid #59813a;
  border-radius: 0 0 14px 14px;
  background:  #244da4;

}

.message-input-field,
.user-input-field {
  flex: 1;
  padding: 0.5rem 0.75rem;
  border-radius: 999px;
  border: 1px solid #4b5563;
  background: #c0edff;
  color: #09915a;
  width : 100%;
}

.message-send-button {
  padding: 0.5rem 1rem;
  border-radius: 999px;
  border: none;
  background: #3b82f6;
  color: white;
  font-weight: 500;
  cursor: pointer;
   border: 2px solid #e8eff0;
}
.message-bubble {
  /* animation */

  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(3px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
